.pull-right {
  float: right;
}

.signature {
  font-style: italic;
}

/* ugly hacks but i don't have time */
header {
  position: static !important;
}

section {
  margin: 45px 0px 20px !important;
}

/* code { */
/*   color: #333 !important; */
/*   text-shadow: none !important; */
/* } */
/*  */
/* code ul li::before { */
/*   content: none !important; */
/* } */
