.pull-right {
  float: right;
}

.signature {
  font-style: italic;
}

/* ugly hacks but i don't have time */
header {
  position: static !important;
}

section {
  margin: 45px 0px 20px !important;
}


div.gist code {
  color: #333 !important;
  text-shadow: none !important;
}

ul {
  list-style-type: disc;
}

li::before {
  content: none !important;
}

nav {
  width: 240px !important;
  margin-left: -600px !important;
}
